<form name="manualPayment" role="form">

  <script cam-script type="text/form-script">

    $scope.removeItem = function (x) {
        $scope.billsToPay.bills.splice(x, 1);
    }
    
    camForm.on('form-loaded', function() {
    
      // fetch the variable named 'billsToPay'
      camForm.variableManager.fetchVariable('billsToPay');
    
    });

    camForm.on('variables-fetched', function() {
     
      // after the variables are fetched, bind the value of billsToPay to a angular
      // scope value such that the form can work on it
      $scope.billsToPay = camForm.variableManager.variable('billsToPay').value;
    
    });
  </script>

  <p class="lead">Manual Payments</p>
  <a ng-href="http://172.17.0.2" target="_blank">BANK Web Site</a>  (IP depends on docker configuration)<br><br>
  
  Click on &check; after payment
  <ul>
    <li ng-repeat="bill in billsToPay.bills">
      Pay to {{bill.receiver}}: &emsp; &emsp;
      <span ng-click="removeItem($index)">&check;</span><br>
      {{bill.amount}} euro <br>
      {{bill.errorMessage}}
    </li>
  </ul>
</form>