<form name="partnerForm" role="form">

	<script cam-script type="text/form-script">
		
		debugger;
		
		$scope.saveAvailable = function(i) {
			var checkbox = document.getElementById('available'+i);
			var j = 0;
			angular.forEach($scope.partnerList, function(partner) {
				debugger;
				if (i == j) {
					partner.available = !partner.available;
				}
				j = j + 1;
			});
		}

		$scope.saveContacted = function(i) {
			var checkbox = document.getElementById('contacted'+i);
			var j = 0;
			angular.forEach($scope.partnerList, function(partner) {
				if (i == j) {
					partner.contacted = !partner.contacted;
				}
				j = j + 1;
			});
		}

		camForm.on('form-loaded', function() {
  			// fetch the variable named 'partnerList'
  			camForm.variableManager.fetchVariable('partnerList');
		});

		camForm.on('variables-fetched', function() {
			// after the variables are fetched, bind the value of partnerList to an angular
		  	// scope value such that the form can work on it
		  	$scope.partnerList = camForm.variableManager.variable('partnerList').value;
		});
		
		camForm.on('submit', function(err) {
     	 	// this callback is executed when the form is submitted, *before* the 
     		// submit request to the server is executed
		 	
			// TODO: devo controllare che sia stato selezionato almeno un partner
			
			// FIXME: Non funziona, i dati rimangono salvati dentro la variabile in 
			// scope ad angularjs e non riesco a salvarla di nuovo dentro partnerList
			// update values 
			// camForm.variableManager.variableValue('partnerList', $scope.partnerList);
  		});
		
	</script>

	<h3>List of partners</h3>
	
	<hr>
	
	<div>
		<div ng-repeat="partner in partnerList">
			<div class="control-group col-xs-12">
				<label class="control-label col-xs-12 col-sm-4 col-md-3" for="name">Name</label>
		        <div class="col-xs-12 col-sm-8 col-md-9">
		        	<input cam-variable-name="partner.name"
		     	   		type="text"
				   		name="name"
		     	   		readonly="true"
		     	   		class="form-control" />
		     	</div>
			</div>
			<div class="control-group col-xs-12">
				<label class="control-label col-xs-12 col-sm-4 col-md-3" for="type">Type</label>
				<div class="col-xs-12 col-sm-8 col-md-9">
			    	<input cam-variable-name="partner.type"
		 	   			type="text"
			   			name="type"
		 	   			readonly="true"
		 	   			class="form-control" />
				</div>
			</div>
			<div class="control-group col-xs-12">
				<label class="control-label col-xs-12 col-sm-4 col-md-3" for="email">Email</label>
				<div class="col-xs-12 col-sm-8 col-md-9">
			    	<input cam-variable-name="partner.email"
		 	   			type="text"
			   			name="email"
		 	   			readonly="true"
		 	   			class="form-control" />
				</div>
			</div>
			<div class="control-group col-xs-12">
				<label class="control-label col-xs-12 col-sm-4 col-md-3" for="phoneNumber">Phone number</label>
				<div class="col-xs-12 col-sm-8 col-md-9">
			    	<input cam-variable-name="partner.phoneNumber"
		 	   			type="text"
			   			name="phoneNumber"
		 	   			readonly="true"
		 	   			class="form-control" />
				</div>
			</div>
			
			<h4 class="col-xs-12 text-center">Addresses</h4>
			
			<div ng-repeat="address in partner.addresses.addresses">
				<div class="control-group col-xs-12">
					<label class="control-label col-xs-12 col-sm-4 col-md-3" for="street">Street</label>
					<div class="col-xs-12 col-sm-8 col-md-9">
						<input cam-variable-name="address.street"
			 	   			type="text"
				   			name="street"
			 	   			readonly="true"
			 	   			class="form-control" />
	      			</div>
	      		</div>
				<div class="control-group col-xs-12">
	        		<label class="control-label col-xs-12 col-sm-4 col-md-3" for="postalCode">Postal Code</label>
	        		<div class="col-xs-12 col-sm-8 col-md-9">
						<input cam-variable-name="address.postalCode"
			 	   			type="text"
				   			name="postalCode"
			 	   			readonly="true"
			 	   			class="form-control" />
			 	   	</div>
	      		</div>
	      		<div class="control-group col-xs-12">
	        		<label class="control-label col-xs-12 col-sm-4 col-md-3" for="city">City</label>
					<div class="col-xs-12 col-sm-8 col-md-9">
						<input cam-variable-name="address.city"
				 	   		type="text"
					   		name="city"
				 	   		readonly="true"
			 		   		class="form-control" />
	     			</div>
	      		</div>
	      		<div class="control-group col-xs-12">
	        		<label class="control-label col-xs-12 col-sm-4 col-md-3" for="country">Country</label>
					<div class="col-xs-12 col-sm-8 col-md-9">
						<input cam-variable-name="address.country"
			 	   			type="text"
				   			name="country"
			 	   			readonly="true"
			 	   			class="form-control" />
			 	   	</div>
				</div>
  			</div>
			<div class="control-group col-xs-12">
				<label class="control-label col-xs-12 col-sm-4 col-md-3" for="partner.available">Available?</label>
				<div class="col-xs-12 col-sm-8 col-md-9">
					<input type="checkbox"
       					cam-variable-name="partner.available"
       					cam-variable-type="Boolean"
       					name="partner.available"
       					ng-model="partner.available"
       					ng-attr-id="{{'available'+$index}}"
       					ng-click="saveAvailable($index)" />
       			</div>
       		</div>
			<div class="control-group col-xs-12">
				<label class="control-label col-xs-12 col-sm-4 col-md-3" for="partner.contacted">Contacted?</label>
				<div class="col-xs-12 col-sm-8 col-md-9">
					<input type="checkbox"
       					cam-variable-name="partner.contacted"
       					cam-variable-type="Boolean"
       					name="partner.contacted"
       					ng-model="partner.contacted"
       					ng-attr-id="{{'contacted'+$index}}"
       					ng-click="saveContacted($index)" />
       			</div>
	       	</div>
	       	
			<hr>
			
		</div>
	</div>
</form>