<form name="partnerForm" role="form">

	<script cam-script type="text/form-script">
		
		camForm.on('form-loaded', function() {
  			// fetch the variable named 'partnerList'
  			camForm.variableManager.fetchVariable('partnerList');
		});

		camForm.on('variables-fetched', function() {
			// after the variables are fetched, bind the value of partnerList to an angular
		  	// scope value such that the form can work on it
		  	$scope.partnerList = camForm.variableManager.variable('partnerList').value;
		});
	</script>

	<h3>List of partners</h3>
	<hr>
	<div>
		<div ng-repeat="partner in partnerList">
			<div class="control-group col-xs-12">
				<label class="control-label col-xs-12 col-sm-4 col-md-3" for="name">Name</label>
		        <div class="col-xs-12 col-sm-8 col-md-9">
		        	<input cam-variable-name="partner.name"
		     	   		type="text"
				   		name="name"
		     	   		readonly="true"
		     	   		class="form-control" />
		     	</div>
			</div>
			<div class="control-group col-xs-12">
				<label class="control-label col-xs-12 col-sm-4 col-md-3" for="type">Type</label>
				<div class="col-xs-12 col-sm-8 col-md-9">
			    	<input cam-variable-name="partner.type"
		 	   			type="text"
			   			name="type"
		 	   			readonly="true"
		 	   			class="form-control" />
				</div>
			</div>
			<h4 class="col-xs-12">Addresses</h4>
			<div ng-repeat="address in partner.addresses">
				<div class="control-group col-xs-12">
					<label class="control-label col-xs-12 col-sm-4 col-md-3" for="street">Street</label>
					<div class="col-xs-12 col-sm-8 col-md-9">
						<input cam-variable-name="address.street"
			 	   			type="text"
				   			name="street"
			 	   			readonly="true"
			 	   			class="form-control" />
	      			</div>
	      		</div>
				<div class="control-group col-xs-12">
	        		<label class="control-label col-xs-12 col-sm-4 col-md-3" for="postalCode">Postal Code</label>
	        		<div class="col-xs-12 col-sm-8 col-md-9">
						<input cam-variable-name="address.postalCode"
			 	   			type="text"
				   			name="postalCode"
			 	   			readonly="true"
			 	   			class="form-control" />
			 	   	</div>
	      		</div>
	      		<div class="control-group col-xs-12">
	        		<label class="control-label col-xs-12 col-sm-4 col-md-3" for="city">City</label>
					<div class="col-xs-12 col-sm-8 col-md-9">
						<input cam-variable-name="address.city"
				 	   		type="text"
					   		name="city"
				 	   		readonly="true"
			 		   		class="form-control" />
	     			</div>
	      		</div>
	      		<div class="control-group col-xs-12">
	        		<label class="control-label col-xs-12 col-sm-4 col-md-3" for="country">Country</label>
					<div class="col-xs-12 col-sm-8 col-md-9">
						<input cam-variable-name="address.country"
			 	   			type="text"
				   			name="country"
			 	   			readonly="true"
			 	   			class="form-control" />
			 	   	</div>
				</div>
  			</div>
  			<div ng-if="!partner.contacted">
				<div class="control-group col-xs-12">
					<label class="control-label col-xs-12 col-sm-4 col-md-3" for="partner.available">Available?</label>
					<div class="col-xs-12 col-sm-8 col-md-9">
						<input type="checkbox"
	       					cam-variable-name="partner.available"
	       					cam-variable-type="Boolean"
	       					name="partner.available" />
	       			</div>
	       		</div>
			</div>
			<div ng-if="partner.contacted">
    			<b> This partner has already been contacted </b>
			</div>
			<hr>
		</div>
	</div>
</form>